@font-face{font-family:'icomoon';src:url('icomoon.eot');src:url('icomoon.eot#iefix') format('embedded-opentype'), url('icomoon.ttf') format('truetype'), url('icomoon.woff') format('woff'), url('icomoon.svg#icomoon') format('svg');font-weight:normal;font-style:normal;}
.margin{margin:1em 0;}
.review-title{text-transform:uppercase;font-weight:600;margin:0.4em 0;letter-spacing:0.3px;font-size:16px;}
.nav.nav-justified{text-transform:uppercase;margin-bottom:1em;margin-top:2.5em;}
.nav-tabs.nav-justified>li>a{border-bottom-color:#96c839;font-weight:bold;white-space:nowrap;}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{border-color:#96c839;border-bottom-color:transparent;}
.rub{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:0.6em;margin-left:0.4em;}
.rub:before{content:"\e900";}
.field-name-order-now .order-now{color:#fff;}
.gallery-thumbs, .gallery-slide, .gallery-slides, .gallery-slides img, .gallery-frame{max-width:100%;}
.gallery-thumbs li.slide-0{margin-left:10px;}
.gallery-thumbs .arrow{display:none;}
.gallery-slides .view-full, .gallery-slides .slide-button{display:none;}
.galleryformatter-greenarrows .gallery-thumbs li a{background:none !important;}
.node-y-dion{margin-bottom:20px;}
.view-block-news .views-field-created,
.view-block-articles .views-field-created{color:#999;text-align:left;}
.order-now{font-size:20px;text-transform:uppercase;padding:8px 16px;color:#fff;display:block;border-radius:4px;background:#96c839;margin-top:15px;line-height:1;text-align:center;}
.order-now:hover{text-decoration:none;}
.tender-link, .btn-warning{background:#ffc707;}
.tender-link:hover, .btn-warning:hover{background:#efbb0b;text-decoration:none;}
.tender-link .fa{margin-right:10px;display:inline;}
.field-name-tender{margin-top:30px;}
.node-product{position:relative;}
.node-product .field-name-field-price{padding:8px 12px;}
.node-product .field-name-field-price .field-items{margin-left:12px;padding:4px 12px;}
.node-product .field-name-field-price .field-label{padding-left:0;}
.node-product .field-name-field-price .field-item{font-size:30px;line-height:1;}
ul.low-padding{padding-left:15px;margin-top:0;}
.field-name-delivery-for-product, #block-block-16{padding:20px;border:1px solid #eee;background:rgb(245, 245, 245);margin-top:20px; border-radius:4px;}
body{font-family:'PT Sans', sans-serif;font-family:'weblysleek_uisemilight';}
b,
strong{font-family:'weblysleek_uisemibold';}
em{font-family:'weblysleek_uisemilight_italic';}
h1,
h2,
h3,
h4,
h5,
h6{font-family:'vremena_groteskbook';}
.admin-menu #header{top:30px;}
.admin-menu #page{margin-top:30px;}
.btn-block{transition:all 0.2s;}
body.front{background-position:0 191px;background:#f9f9f9;padding-top:35px;}
p,
li{line-height:1.3em;}
.lefty{float:left;margin-right:.5em;margin-bottom:.5em;max-width:27%;clear:left;}
.righty{float:right;margin-left:.5em;margin-bottom:.5em;clear:right;max-width:27%;}
#block-menu-menu-categories{margin-top:60px;}
#block-menu-menu-categories > .menu a:hover,
#block-menu-menu-categories > .menu a:active{background:#96ca28;color:#ffffff;}
hr{border:none;border-top:1px solid #c0c0c0;}
.zoom{position:relative;display:inline-block;}
.sidebar-second .region-sidebar-second{margin-top:1.15em;}
.views-exposed-form .views-exposed-widget .form-submit{background:#95ca29;color:#fff;font-size:1.2em;border-radius:4px;margin-top:1em;}
.field-name-field-news-category a,
.news-tag a{text-decoration:none;border-bottom:1px dotted;color:#32a347;margin-left:0.5em;}
.news-tag a:first-child{margin-left:0;}
.view-block-news .views-field-title a{padding-left:0;margin-bottom:0.3em;}
.view-news .views-field-created,
.view-articles .views-field-created{font-size:11px;padding:0.4em 0 0 0;color:#999;text-align:left;}
.view-news .views-field-title a,
.view-articles .views-field-title a,
.view-reviews .views-field-title a,
.view-block-articles .views-field-title a{padding-left:0;}
.tab-pane .view-content .more-link{display:table;top:52%;background-color:#999;padding:1px 12px;font-size:small;left:50%;text-transform:uppercase;color:#fff;margin-top:-10px;float:right;border-radius:4px;vertical-align:middle;}
.tab-pane .view-content .more-link a{color:#ffffff;}
.not-logged-in .messages--error{display:none;}
.date{color:#95ca29;font-size:9px;}
.one-new{position:relative;border-bottom:1px solid #d9dada;}
li.icon-ok-circled2{list-style-type:none;line-height:130%;margin:.6em 0;font-size:14px;}
.icon-ok-circled2:before{content:'\e801';position:absolute;color:#95ca29;font-weight:100;margin-left:-1.4em;font-size:130%;left:1em;}
.icon-right-hand:before{color:#32a347;}
.icon-phone-circled:before{color:green;}
.underline{clear:both;padding-top:1em;}
.why-wrapper{padding-left:1em;border-left:1px solid #d8d8d8;padding-top:1em;}
.why-wrapper > h4:first-child{margin-top:0;}
.left-flow{position:relative;clear:left;}
.left-flow:after{content:'';display:block;height:1px;border-bottom:1px solid #c0c0c0;width:.9em;position:absolute;top:50%;left:-0.9em;}
.owl-carousel.lefty{max-width:40%;}
.otzivi .owl-item{padding:.2em;box-sizing:border-box;text-align:center;}
div#block-views-main-blocks-block{padding-top:2em;}
#owl-carousel-block1{max-height:100vh;overflow:hidden;}
#owl-carousel-block1 img{width:100%;}
#block-block-4{padding-bottom:10px;padding-top:5px;font-weight:normal;font-size:12px;}
#block-block-4 td{width:20%;vertical-align:top;font-size:inherit;}
#logo{margin:0;z-index:9;padding:0;left:0;top:0;max-width:160px;}
#logo img{height:auto;}
#block-block-6,
#block-block-7,
#block-block-8{font-size:inherit;}
.view-block-news .views-field-body,
.view-block-articles .views-field-body{font-size:13px;}
.view-products .views-row{
  height:260px;
  overflow: hidden;
  &.in-stock:before {
    content:'На складе';
    display:block;
    padding:0.2rem 1rem;
    background: @green;
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
    transform:translateY(-30px) translateX(-60px) rotate(45deg);
    text-align:center;
    position:absolute;
    left:0;
    bottom:0;
    min-width:200px;
    letter-spacing:1px;
  }
}
.view-products .views-field-field-price{position:absolute;bottom:15px;left:100px;}
.view-news,
.view-articles,
.view-products,
.view-reviews,
.view-block-news,
.view-block-articles{font-size:inherit;}
.phone{padding-left:0;float:left;}
#city-choose{border:1px solid #ddd;width:20px;height:20px;position:relative;float:left;margin-left:5px;bottom:-5px;color:#777777;}
.cont-mobile{padding-left:0;}
.default{display:block;}
#header{background:#3a9f41;z-index:30;}
#header .icon-phone-circled{font-size:26px;font-weight:normal;}
#header .dropdown .submenu{margin-left:-10px;visibility:hidden;position:absolute;padding:0;}
#header .dropdown > li{font-size:18px;padding-left:10px;cursor:pointer;list-style-type:none;}
#block-block-1 img{position:relative;left:0;bottom:-16px;}
#block-superfish-1{margin-bottom:0;}
#block-superfish-1 a.sf-depth-1.active:after{content:none;}
.mini-nav{float:left;}
.mini-nav a{margin-left:1.5em;display:inline-block;color:#004d00;text-align:center;}
.mini-nav a:before{transition:all 0.1s ease;}
.mini-nav a:hover:before{transform:scale(1.2);}
.sf-menu.sf-style-space-teal{font-size:inherit;font-weight:normal;margin-bottom:0;}
#block-block-2{margin:0;color:white;font-weight:normal;}
#block-search-form{    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;}
    #block-search-form #search-block-form {
    	padding: 0;
    }
.region-bottom{width:auto;background:rgba(24, 128, 44, 0.05);}
#search-block-form #edit-search-block-form--2{width:100%;padding:.5em 1.5em .5em .8em;-webkit-transition:width .2s;-moz-transition:width .2s;-ms-transition:width .2s;-o-transition:width .2s;transition:width 0.2s;border:none; border-radius: 0;}
#search-block-form #edit-actions input{bottom:-20px;right:0;}
#block-block-12{box-shadow:0 0 10px rgba(0, 0, 0, 0.5);}
#block-block-13 .nav{border:1px solid #ddd;margin-bottom:1em;padding:.3em;border-radius:4px; white-space: nowrap;}
#block-block-13 .well{cursor:pointer; transition: all 0.15s ease-in-out;}
#block-block-13 .well:hover{box-shadow: inset 0 0px 3px rgba(0,0,0,0.3); border: 1px solid rgba(0,0,0,0.3); }
.front #main{padding-top:0;}
.front .view-content .col-md-6{min-height:160px;}
.well:after{content:'';display:block;clear:both;}
.btn-default{border-color:#95ca29;}
.more{position:absolute;right:5px;bottom:-5px;}
div#views-bootstrap-grid-7 .col{margin-bottom:2em;}
.view-partners{padding-top:1em;}
.region-page-bottom{display:none;}
.panel.closest{box-shadow:none;background:transparent;margin-bottom:0;}
.panel.closest .panel-heading{padding-bottom:0;max-height:200px;overflow:hidden;}
.panel.closest h3{color:white;}
.panel.closest .panel-body{margin:15px;margin-top:0;padding-top:0;background:#999;color:white;}
.panel.closest .btn-default{border:none;}
.panel.closest .btn-default:hover{background:#96ca28;}
.region-slides{position:relative;margin:auto;}
#block-block-19{border:2px dotted #ddd;border-radius:4px;padding:15px;margin-top:15px;}
#block-block-14{position:absolute;top:0;}
.dropdown li.phone{background:#3a9f41;font-size:18px;width:180px;float:none;padding:3px 10px;cursor:pointer;}
.dropdown li.phone:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
#footer{background:#18802c;}
#footer h4{margin-bottom:.5em;font-size:1.2em;}
#footer ul{padding-left:0;margin:0;}
#footer ul li{list-style-type:none;margin:2px 0;}
#footer a{border-bottom:1px dotted #95ca29;text-decoration:none;transition:all 0.2s;}
#footer a:hover{border-bottom-color:#ffffff;}
#footer .cities li{margin:6px 0;}
#footer .cities li:first-child{margin-top:0;}
.contact h3{cursor:pointer;margin:0;margin-top:0.5em;}
.contact h3 .glyphicon{margin-right:0.5em;}
.colorbox{position:relative;overflow:hidden;}
.colorbox.glyphicon-zoom-in:before{font-size:26px;color:#ca4d4a;text-decoration:none;position:absolute;transition:all .3s;right:-26px;bottom:4px;}
.colorbox:hover.glyphicon-zoom-in:before{right:4px;}
#owl-carousel-block6 .owl-buttons{bottom:-18px;position:relative;z-index:50;}
#owl-carousel-block6 .owl-buttons > div{background:#869791;opacity:1;filter:alpha(opacity=100);border:2px solid #f9f9f9;}
.table-striped > tbody > tr:nth-child(odd){background:#f2f2f2;}
.view-mode-for_home_page h3{margin:0; min-height: 40px;}
span.total-votes{display:none;}
#average-total{font-size:20px;overflow:hidden;margin:auto;width:52px;line-height:35px;height:40px;text-align:center;border-radius:50%;color:#18802c;border:1px solid;margin-top:5px;}
.item-list .pager{padding-top:1em;}
.pager > li > a,
.pager > li > span{padding:2px 8px;}
.owl-theme .owl-controls .owl-buttons{position:relative;bottom:-18px;z-index:99;}
.owl-theme .owl-controls .owl-buttons > div{opacity:1;border:2px solid #eef3ef;}
@media screen and (min-width:768px){#block-block-13 .nav-justified li:first-child{width:2%;}
}
iframe{max-width:100%;}
.navbar-toggle .icon-bar{background:#fff;}
h3,
h2,
#page-title,
.product-title > a{color:#18802c;}
.block{margin-bottom:2.5em;}
.block h2.block-title{margin-bottom:0.4em;color:#18802c;}
#block-block-14{z-index:8;}
.view-articles .views-row{padding-bottom:1em;}
.views-field-title{margin-top:1em;margin-bottom:0.4em;}
#header li > a{text-transform:uppercase;color:#fff;}
#header .navbar-toggle{float:none;}
#header .dropdown-menu{background:#3a9f41;}
#header .nav li a:hover,
#header .nav li a:focus{background:#96c839;}
#block-block-2{display:inline-flex; align-items: center;}
#block-block-2 .dropdown{margin: 0;padding-left: 0;}
#block-block-2 .dropdown li{list-style-type:none;}
.product-actions{background:#eee;text-align:center;padding:10px;margin-top:10px;position:absolute;right:6px;bottom:6px;}
.product-actions .price{font-size:20px;padding:6px 12px;padding-top:0;}
.product-actions .price .rub{color:#999;font-size:small;}
.details-button > a{background:#ffc707;text-transform:uppercase;padding:6px 12px;border-radius:0;}
.details-button > a:hover{background:#efbb0b;text-decoration:none;}
.view-products .views-row{height:280px;}
.view-products .order-button{background:#96c839;text-transform:uppercase;padding:6px 12px;border-radius:0;}
.view-products .order-button:hover{background:#8ebc39;text-decoration:none;}
.product-title{margin-bottom:10px;}
.product-title > a{color:#3a9f41;font-weight:bold;text-decoration:none;}
.text-left{text-align:left;}
#block-menu-menu-categories li{clear:both;}
#block-menu-menu-categories .nav{padding-left:0;border:1px solid #96c839;}
#block-menu-menu-categories .nav > li > a{font-size:14px;text-transform:uppercase;}
#block-menu-menu-categories ul.dropdown-menu{position:relative;width:100%;z-index:10;padding-left:0;box-shadow:none;border:none;background:#eeeeee;}
#block-menu-menu-categories ul.dropdown-menu > li > a{padding:5px 20px;padding-left:28px;white-space:pre-wrap;}
#block-menu-menu-categories .is-active-trail .dropdown-menu{display:block;}
.icon-phone-circled:hover,
.icon-phone-circled:focus,
.icon-phone-circled:visited{text-decoration:none;}
.quantity{max-width:54px;}
.padding{padding:1em;}
.padding-h{padding:1em 0;}
.region-navigation{margin-top:10px; float: right;}
.view-block-news .views-row,
.view-block-articles .views-row{border-bottom:1px solid #ddd;padding-bottom:1.2em;}
.view-block-news .views-field-body,
.view-block-articles .views-field-body{border-bottom:none;padding-bottom:5px;}
.webform-client-form .form-actions{text-align:center;}
.webform-client-form .form-submit{background:#96c839;text-transform:uppercase;padding:6px 12px;float:none;border-radius:0;}
.webform-client-form .form-submit:hover{background:#8ebc39;text-decoration:none;}
.price-border{padding:4px 12px;border:2px solid;color:#18802c;background:transparent;font-size:16px;display:inline-block;margin-top:4px;}
.img-left{padding:1em;margin:1em 0;}
.img-left > img{float:left;max-width:250px;}
.img-left:before,
.img-left:after{content:'';display:block;clear:both;}
.node-product.view-mode-full{margin-bottom:3em;}
.flex{display:flex;justify-content:center;flex-wrap:wrap;}
.field-name-7-{margin:3em 0 1em;}
.field-name-7- .block-title{margin-bottom:10px;}
.y-dion{max-width:32%;margin:0.5%;padding:10px;text-transform:uppercase;text-align:center;}
.y-dion > img{max-width:200px;border-radius:50%;margin-bottom:10px;}
.field-name-field-features{clear:both;}
.view-products .view-filters{margin-bottom:1em;border-bottom:1px solid #96c839;}
.view-products .view-filters .form-radios{display:inline-block;}
.view-products .view-filters .form-radios .form-type-bef-link{display:inline-block;margin-left:1em;}
.view-products .view-filters .form-radios .form-type-bef-link:before{content:'';display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
.view-products .view-filters .form-radios #edit-sort-bef-combine-field-price-value-asc:before{content:'\f175';}
.view-products .view-filters .form-radios #edit-sort-bef-combine-field-price-value-desc:before{content:'\f176';}
.view-products .view-filters .form-radios #edit-sort-bef-combine-title-asc:before{content:'\f175';}
.view-products .view-filters .form-radios #edit-sort-bef-combine-title-desc:before{content:'\f176';}
.view-products .view-content{clear:both;margin-bottom:1em;}
.view-products .view-footer{clear:both;margin-bottom:1em;}
#block-block-20 .menu{padding-left:0;border:1px solid #96c839;}
#block-block-20 ul{padding-left:0;}
#block-block-20 .menu li{clear:both;}
#block-block-20 .menu li a{font-size:14px;text-transform:uppercase;display:flex;align-items:center;padding:10px 15px;position:relative;}
#block-block-20 .menu a > img{max-height:30px;max-width:30px;vertical-align:middle;margin-right:10px;}
#block-block-20 .menu .dropdown .item-list{font-size:12px;padding:8px 0;display:none;}
#block-block-20 .menu ul{list-style-type:none;}
#block-block-20 .menu .dropdown .item-list a{text-transform:none;}
#block-block-20 .menu a:focus{background:transparent;}
#block-block-20 .menu .bg-grey a:hover,
#block-block-20 .menu .bg-grey a:active{background:#eee;text-decoration:none;}
#block-block-20 .menu .bg-light-green a:hover,
#block-block-20 .menu .bg-light-green a:active{background:rgba(149, 199, 58, 0.08);text-decoration:none;}
#block-block-20 .menu a.active:after{content:'';position:absolute;display:block;height:100%;width:6px;right:-3px;top:0;background:#3c9f42;}
#block-block-20 .bg-grey{background:rgba(238, 238, 238, 0.7);}
#block-block-20 .bg-light-green{background:rgba(149, 199, 58, 0.05);}
.promotion-products .view-content{display:flex;flex-wrap:wrap;}
.promotion-products .views-row{height:auto;padding:2em 0;text-align:center;}
.promotion-products .product-actions{background:rgba(238, 238, 238, 0.75);width:calc(100% - 10px);right:5px;}
.promotion-products .product-title > a{color:#404240;}
.views-row.leaders, .views-row.newest{overflow:hidden;}
.views-row.leaders:before{content:'Лидер продаж';display:block;padding:0.2rem 1rem;background:#3b9f41;color:#fff;text-transform:uppercase;font-size:10px;transform:translateY(30px) translateX(60px) rotate(45deg);text-align:center;position:absolute;right:0;top:0;min-width:200px;letter-spacing:1px;}
.views-row.newest:after{content:'Новинка';display:block;padding:0.2rem 1rem;background:#96c83a;color:#fff;text-transform:uppercase;font-size:10px;transform:translateY(17px) translateX(74px) rotate(45deg);text-align:center;position:absolute;right:0;top:0;min-width:200px;letter-spacing:1px;}
@media screen and (min-width:768px){#main{margin-top:60px;}
.navbar-nav{padding-left:190px;}
#logo{position:absolute;left:0;top:0;}
}
@media screen and (max-width:768px){.navbar-nav{text-align:center;}
#block-block-9{display:none;}
.product-actions{position:static;clear:both;}
.view-products .views-row{height:auto;width:100%;border-right:none;margin-top:15px;}
}
@media screen and (max-width:500px){body .owl-carousel .owl-item{text-align:center;}
body.front{padding-top:50px;}
body.front #page-title{padding-top:8px;padding-right:10px;}
body.node-type-webform .webform-client-form .form-item label{width:100%!important;float:none;margin-right:0;text-align:center;margin-bottom:1em;}
body .webform-client-form .form-text,
body .webform-client-form .form-textarea{width:100%;}
body #edit-submitted-soobshchenie{max-width:100%;}
body #webform-component-polya{margin:0;}
.node-product .field-name-field-price{position:static;clear:both;display:inline-block;margin-bottom:1em;}
.field-name-order-now{display:inline-block;vertical-align:super;}
.field-name-order-now .order-now{position:static;margin:10px;}
#block-block-14{position:static;}
#logo{max-width:160px;padding-right:10px;}
.view-display-id-block_5 .well{text-align:center;}
}
.lazyOwl{width:100%;}
.view-track-order .views-label{color:#32a347;padding-left:35px;float:left;clear:left;min-width:200px;font-weight:bold;font-size:12pt;}
.field-name-field-features table{width:100%;max-width:50%;}
.field-name-field-features th{border-bottom:1px solid #dfe0e0;text-align:center;padding-left:5px;width:20%;}
.field-name-field-features td{padding-left:5px;}
.field-name-field-features table .even{background:#f3f4f4;}
.field-name-field-features table .even1{border-right:1px solid #dfe0e0;}
.field-name-field-features table .even2{border-right:1px solid #dfe0e0;border-left:1px solid #dfe0e0;}
.field-name-field-features table .even3{border-left:1px solid #dfe0e0;}
.comment-unpublished p.unpublished{height:0;overflow:visible;color:#d8d8d8;font-size:75px;line-height:1;font-family:Impact, "Arial Narrow", Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word;}
.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > *{position:relative;}
.page-node-1568 #block-block-19,
.page-node-1605 #block-block-19,
.page-node-1606 #block-block-19,
.page-node-1602 #block-block-19,
.page-node-1598 #block-block-19,
.page-node-1591 #block-block-19,
.page-node-1588 #block-block-19,
.page-node-1597 #block-block-19,
.page-node-1601 #block-block-19,
.page-node-1667 #block-block-19,
.page-node-1664 #block-block-19,
.page-node-1665 #block-block-19,
.page-node-1666 #block-block-19,
.page-node-1668 #block-block-19,
.page-node-1669 #block-block-19,
.page-node-1660 #block-block-19,
.page-node-1661 #block-block-19,
.page-node-1662 #block-block-19,
.page-node-1663 #block-block-19,
.page-node-1590 #block-block-19,
.page-node-1593 #block-block-19,
.page-node-1596 #block-block-19,
.page-node-1600 #block-block-19,
.page-node-1604 #block-block-19,
.page-node-1608 #block-block-19,
.page-node-1589 #block-block-19,
.page-node-1592 #block-block-19,
.page-node-1595 #block-block-19,
.page-node-1599 #block-block-19,
.page-node-1603 #block-block-19,
.page-node-1607 #block-block-19{display:none;}
.views-widget-filter-field_filters_tid_selective{display:block;width:100%;}
.form-type-bef-link{display:inline-block;}
.form-type-bef-link > a{display:inline-block;padding:4px 6px;background:#eee;margin:2px;margin-bottom:4px;text-decoration:none;}
.form-type-bef-link.selected > a{background:#96c839;color:#fff;}

#block-block-21 {
    margin: 0 0 10px;
}

.btn-order {
    margin-right: 20px;
    padding: 4px 12px;
    border: 2px solid;
    background: transparent;
    font-size: 16px;
    display: inline-block;
    color: #fff;
}

.popup {
    position: fixed;
    width: 90%;
    max-width: 320px;
    background: #fff;
    top: 15%;
    margin: 0 auto;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
    padding: 10px 20px;
    z-index: 99;
}

.popup input[type=text] {
	width: 100%;
	outline: none;
	padding: 10px;
	box-shadow: none;
	border: 1px solid #ddd;
}

.overlay {
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 98;
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
}

.popup.active, .active ~ .overlay {
	opacity: 1;
	visibility: visible;
}

.popup .close {
	cursor: pointer;
}
