@green: #3a9f41;
@lime: #96c839;
@yellow: #ffc703;

@radius: 4px;

@media-desktop: 1450px;
@media-d2: 1150px;
@media-md: 768px;


@import 'forms';
@import 'pages';
@import 'blocks';
@import 'fontello';
@import 'views-styles';
@import 'addons-old';



#header {
  border-top: 2px solid #fff;
  border-bottom: 3px solid @green;
  .navbar-toggle {
    padding-left: 90%;
  }
}
#block-block-20 .menu {
  border-radius: @radius;
  li{
    &.last {
      border-radius: 0 0 @radius @radius;
      a{
        border-radius: 0 0 @radius @radius;
      }
    }
  }
}
#logo {
  background: #fff;
  transform: skew(-25deg);
  padding-right: 20px;
  height: 50px;    
  max-width: 190px;
  img {
    transform: skew(25deg);
    margin-left: -2px;
  }
}

.youtube_bg {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
/*
  &:before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }
*/
}
#player {
  position:  absolute;
  top: 60%;
  left: 50%;
  min-width: 100%;
  min-height: 140%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#header {
  .fa-search {
    color: @green;
    background: #007f01;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .dropdown {
    text-align: center;
    .submenu {
      text-align: left;
    } 
  }
}
.btn-order-text {
  border: none;
  background: transparent;
  font-size: 14px;
  display: inline-block;
  color: #fff;
}
#block-block-2 {
  .btn-order {
    height: 32px;
  }
}

.bg-dark-green {
  background: darken(@green , 7%);
}
.search-wrapper {
  position: absolute;
  width: 100%;
  padding: 1em;
  left: 0;
  top: 105%;
  text-align: center;
  display: none;
  #block-search-form--2 {
    margin-bottom: 0;
  }
  .form-text {
    width: 75%;
    height: 25px;
    border: none;
    background: fade(#fff, 15%);
    padding: 10px;
    color: #fff;
    outline: none;
  }
  .form-submit {
    vertical-align: bottom;
    margin-left: 10px;
    border: none;
    height: 25px;
    padding: 0 16px;
  }
  &.show {
    display: block;
  }
}

///// Single product
.node-product {
  .field-name-field-price {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 1px;
    .field-items {
      border: 2px solid @green;
      border-radius: @radius;
    }
    .field-item {
      font-size: 25px;
    }
  }
}



@media screen and (max-width: @media-desktop) {
  #header {
    #block-search-form, .btn-order {
      display: none;
    }
  }
}


@media screen and (max-width: @media-d2) {
  #header {
    .menu {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: @media-md) {
  #logo {
    position: absolute;
  }
  .region-navigation {
    float: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  #header {
    .dropdown-menu {
      text-align: center;
      background: rgba(0, 0, 0, 0.15);
    }
  }
}

@media screen and (max-width: @media-md), screen and (min-width: @media-desktop) {
  .only-lg {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  #logo {
    position: absolute;
  }
  .youtube_bg {
    height: 380px;
  }
}