.slide-img{float:left;margin-left:80px;margin-right:45px;}
.slide-txt{color:#424242;padding-top:1.5em;float:left;width:400px;}
.slide-txt p{margin:10px 0;}
.slide-txt span.stitle{font-size:200%;font-weight:bold;text-transform:uppercase;color:#32a347;}
.slide-txt span.sftitle{font-size:100%;font-weight:bold;text-transform:uppercase;line-height:2.2em;color:#32a347;}
.slide-txt .sbody{font-size:10.5pt;}
.slide-txt .sbutton{display:block;position:absolute;bottom:25px;right:0px;padding:0.2em 1.5em 0.3em 1.5em;background-color:#424242;color:white;text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;border:5px solid #f5f7f6;font-size:10pt;}
.views-slideshow-pager-field-item{float:left;background-image:url(../images/pagination.png);height:0;width:12px;padding-top:12px;overflow:hidden;}
.views-slideshow-pager-fields .active{background-position:0 -12px;}
.block{margin-bottom:1.5em;}
.block.first{}
.block.last{}
.block.odd{}
.block.even{}
h2.block-title{font-size:16px;color:#32a347;text-transform:uppercase;padding-left:15px;background:url(../images/for-title.png) 0 50% no-repeat;}
#block-aggregator-category-1{}
#block-aggregator-feed-1{}
#block-block-1{margin:20px 0 0 40px;float:left;width:450px;text-align:center;font-weight:bold;font-size:15pt;}
#block-block-2{line-height:1.2em;}
#block-block-4{margin-bottom:0;padding:25px 0 35px 70px;font-size:8pt;font-weight:bold;background:#18802C;color:#fff;line-height:1.5em;}
#block-block-4 a{color:#fff;}
#blocks{float:left;margin-top:1em;}
#blocks .block{position:relative;}
#blocks .block .details-button{position:absolute;bottom:-7px;right:15px;}
#block-views-product-cat-block{padding-top:1em;border-top:1px solid #DBDCD7;}
#block-block-6 h2.block-title,#block-block-7 h2.block-title,#block-block-8 h2.block-title,
h3.block-title,
h3.block-title a{background:none;text-transform:none;text-decoration:none;padding-left:0;line-height:1;font-size:10pt;color:#32A347;height:28px;overflow:hidden;margin:5px 0 0 0;}
.details-button span{overflow:hidden;display:block;}
.details-button a,
.views-field-view-node a,
#block-views-product-cat-block .views-field-tid a{display:inline-block;padding:2px 10px 4px 10px;color:#fff;border-radius:8px;line-height:1.2em;background:#95ca29;border:3px solid #F9F9F9;}
#block-block-6, #block-block-7, #block-block-8{font-size:9pt;}
.mini-icon{margin:15px 0 15px 0;}
.mini-icon a{display:block;width:13px;height:10px;margin:0 20px 10px 20px;float:left;}
.mini-icon a.home{background:url(../images/home.png) no-repeat;}
.mini-icon a.mail{background:url(../images/mail.png) no-repeat;}
.mini-icon a.map{background:url(../images/map.png) no-repeat;}
.cont-title{text-transform:uppercase;font-size:10pt;color:#32a347;clear:both;}
.cont-phone, .cont-mobile, .cont-skype, .cont-email{padding-left:20px;background-repeat:no-repeat;background-position:0 50%;}
.cont-phone{background-image:url(../images/phone.png);}
.cont-mobile{background-image:url(../images/mobile.png);}
.cont-skype{padding-left:0;}
.cont-skype a{text-decoration:none;}
.cont-email{background-image:url(../images/email.png);}
.cont-skype, .cont-email{font-size:9pt;}
#block-block-1 span.bigred{text-transform:uppercase;font-size:25pt;color:#fd0404;}
#block-block-1 span.red{color:#fd0404;}
#block-blog-recent{}
#block-book-navigation{}
#block-comment-recent{}
#block-forum-active{}
#block-forum-new{}
#block-locale-language{}
#block-menu-menu-NAME{}
#block-node-recent{}
#block-node-syndicate{}
#block-poll-recent{}
#block-profile-author-information{}
#block-search-form{}
#block-shortcut-shortcuts{}
#block-statistics-popular{}
#block-system-main-menu{position:relative;right:27%;float:right;font-size:11pt;margin-bottom:1em;}
#block-views-partners-block{margin-bottom:0;clear:both;max-width:100%;}
#block-system-management{}
#block-system-navigation{}
#block-system-user-menu{}
#block-system-help{}
#block-system-main{}
#block-system-powered-by{}
#block-user-login{}
#block-user-new{}
#block-user-online{}
#block-menu-menu-categories ul{line-height:1.2em;font-size:10pt;padding-left:15px;margin:0;}
#block-block-9 p a{display:block;font-size:10pt;text-decoration:none;margin:0 0 .5em 1em;line-height:1.2;}
#block-views-main-blocks-block,
#block-views-main-blocks-block-1,
#block-views-main-blocks-block-2{float:none;clear:both;}
#block-views-main-blocks-block .views-row{width:235px;float:left;margin:.5em .5em 1.5em .5em;position:relative;}
#block-views-main-blocks-block .views-field-body{border-bottom:1px solid #95ca29;padding-bottom:15px;height:50px;overflow:hidden;}
#block-views-main-blocks-block .views-field-nothing{position:absolute;bottom:-15px;right:0px;}
#block-views-main-blocks-block .field-content{font-size:10pt;}
#block-menu-menu-categories{overflow:hidden;}
#block-menu-menu-categories ul li.leaf{float:none;list-style-type:none;list-style-image:none;line-height:1.5;}