.node-type-order .field-label,
.view-track-order .views-label{color:#32a347;padding-left:35px;float:left;clear:left;min-width:200px;font-weight:bold;font-size:12pt;}
.field-name-field-features table{width:100%;max-width:50%;}
.field-name-field-features th{border-bottom:1px solid #dfe0e0;text-align:center;padding-left:5px;width:20%;}
.field-name-field-features td{padding-left:5px;}
.field-name-field-features table .even{background:#f3f4f4;}
.field-name-field-features table .even1{border-right:1px solid #dfe0e0;}
.field-name-field-features table .even2{border-right:1px solid #dfe0e0;border-left:1px solid #dfe0e0;}
.field-name-field-features table .even3{border-left:1px solid #dfe0e0;}
.field-FIELDNAME{}
.field{}
.field-type-text{}
.field-type-text-long{}
.field-type-text-with-summary{}
.field-type-image{}
.field-type-file{}
.field-type-taxonomy-term-reference{}
.field-type-number-integer{}
.field-type-number-decimal{}
.field-type-number-float{}
.field-type-list-text{}
.field-type-list-boolean{}
.field-type-list-integer{}
.field-type-list-float{}
.field-type-datetime{}
.field-type-node-reference{}
.field-type-user-reference{}
.field-name-body{clear:left;}
.field-name-field-image{}
.field-name-field-tags{}
.field-name-field-FIELDNAME{}