#search-block-form #edit-actions--2 input, #search-block-form #edit-actions input{background:url('../images/search.png') no-repeat;border:none;height:0;width:0;padding:14px 14px 0 0;color:transparent;text-indent:15px;}
#search-block-form #edit-search-block-form--2{padding:0.3em 1.3em 0.1em 0.8em;border-radius:1.2em;-webkit-border-radius:1.2em;-moz-border-radius:1.2em;-ms-border-radius:1.2em;-o-border-radius:1.2em;border:none;font-size:10pt;}
.form-item{margin:1.5em 0;}
.form-item input.error,
.form-item textarea.error,
.form-item select.error{border:1px solid #c00;}
#webform-component-polya,
.node-type-webform .webform-client-form .form-item label{display:block;font-weight:normal;font-size:10pt;width:21em;float:left;margin-right:1em;text-align:right;}
.webform-client-form .form-item label[for="edit-submitted-soobshchenie"]{width:12.2em;}
.webform-client-form .form-text, .webform-client-form .form-textarea{border:none;box-shadow:0 0 0px 1px #f2f2f2,
0 0 0px 2px #fff,
0 0 0px 3px #fff,
0 0 0px 4px #fff,
0 0 0px 5px #fff,
0 0 0px 6px #fff,
0 0 0px 7px #c5c6c6;}
.webform-client-form .form-submit{font-size:14px;border:none;background-color:#95ca29;color:#fff;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;float:right;}
#webform-component-polya{margin:-10px 0 0 110px;}
#webform-component-polya .red{color:#C00;}
.form-item-captcha-response{left:1em;position:absolute;}
.form-item-captcha-response .description{display:none;}
fieldset.captcha{border:none;}
legend .fieldset-legend{display:none;}
.captcha .fieldset-wrapper img{display:block;position:absolute;left:14em;bottom:2em;}
.webform-client-form .form-actions{margin-top:3em;}
.webform-client-form .captcha label[for="edit-captcha-response"]{width:12em;}
.form-item-captcha-response .form-text{margin:0 0 0 14.4em;}
#edit-submitted-soobshchenie{width:370px;}
.form-item label.option{display:inline;font-weight:normal;}
.form-required{color:#c00;}
.form-item .description{font-size:0.85em;}
.form-checkboxes .form-item,
.form-radios .form-item{margin:0;}
.form-submit{}
.container-inline div,
.container-inline label{display:inline;}
.tips{}
a.button{-webkit-appearance:button;-moz-appearance:button;appearance:button;}
.password-parent,
.confirm-parent{margin:0;}
#block-search-form #search-block-form{padding:.5em .5em 0 0;margin:0;}
#block-search-form .container-inline{position:relative;}
#block-search-form #edit-actions,
#block-search-form #edit-actions--2{position:absolute;right:0.3em;bottom:0.7em;width:1em;height:1em;}
#user-login-form{text-align:left;}
#user-login-form ul{margin-bottom:0;}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link{margin-top:1.5em;margin-left:-20px;}
#user-login-form li.user-link{margin-top:1.5em;}
#user-login ul{margin:1.5em 0;}
form th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}
form tbody{border-top:1px solid #ccc;}
form tr.even{background-color:#fff;}
form table .item-list ul{margin:0;}
.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td{border-bottom:1px solid #ccc;}
td.menu-disabled{background:#ccc;}
.view-mode-colorbox form label{display:inline-block;width:80px;}
.view-mode-colorbox form input{height:20px;}
.view-mode-colorbox form input.form-submit{display:block;height:30px;width:300px;margin:0 auto;float:none;}
.view-mode-colorbox .node__title a{display:block;text-decoration:none;text-align:center;cursor:text;}