.node{}
.preview .node{}
.node .node-title{}
.node .user-picture{}
.node .submitted{}
.node .content{}
.node ul.links{}
.node-promoted{}
.node-sticky{}
.node-by-viewer{}
.node-teaser{}
.node-page{}
.node-article{}
.node-unpublished{}
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished{height:0;overflow:visible;color:#d8d8d8;font-size:75px;line-height:1;font-family:Impact, "Arial Narrow", Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word;}
.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > *{position:relative;}