@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);body{color:#414042;margin:0;padding:0;background-color:#f9f9f9;font-family:'PT Sans',sans-serif;font-size:14px;}
body.front{background:#f9f9f9 url(../images/bg.gif) repeat-x;background-position:0 14.4em;}
#page{}
#skip-link{margin:0;}
#skip-link a,
#skip-link a:visited{display:block;width:100%;padding:2px 0 3px 0;text-align:center;background-color:#666;color:#fff;}
#header{}
#logo{float:left;margin:15px;padding:0;}
#logo img{vertical-align:bottom;}
#name-and-slogan{float:left;}
#site-name{margin:0;font-size:2em;line-height:1.5em;}
#site-name a:link,
#site-name a:visited{color:#000;text-decoration:none;}
#site-name a:hover,
#site-name a:focus{text-decoration:underline;}
#site-slogan{margin:0;font-size:1em;}
.region-header{}
#main{}
#page-title{font-size:14px;color:#32a347;text-transform:uppercase;padding-left:15px;background:url(../images/for-title.png) 0 45% no-repeat;}
.field-item{font-size:13px;line-height:1.2em;}
.node-type-order .field-item,
.view-track-order .field-content{line-height:2em;float:left;font-size:12px;}
.field-content{line-height:1.2em;}
#content{margin-bottom:10px;}
.contact{overflow:hidden;padding-bottom:10px;border-bottom:1px solid #D9DADA;}
.left-contact, .right-contact{width:300px;float:left;padding-left:20px;}
.filials{margin-top:20px;}
.region-highlighted{}
.breadcrumb{}
.breadcrumb ol{margin:0;padding:0;}
.breadcrumb li{display:inline;list-style-type:none;margin:0;padding:0;}
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title{margin:0;}
tr.even{}
tr.odd{}
div.messages{margin:1.5em 0;}
div.messages ul{margin-top:0;margin-bottom:0;}
div.status{}
div.warning,
tr.warning{}
div.error,
tr.error{}
.error{}
.warning{}
.tabs{}
.region-help{}
.more-help-link{}
.region-content{}
ul.inline{display:inline;padding:0;}
ul.inline li{display:inline;list-style-type:none;padding:0 1em 0 0;}
span.field-label{padding:0 1em 0 0;}
.item-list .pager{padding:0;}
.item-list .pager li{padding:0 0.5em;}
.feed-icon{}
.more-link{}
.region-sidebar-first{}
.region-sidebar-second{}
#footer{}
.region-bottom{}