@media print{a:link,
a:visited{text-decoration:underline !important;}
#site-name a:link,
#site-name a:visited{text-decoration:none !important;}
#content a[href]:after{content:" (" attr(href) ")";font-weight:normal;font-size:16px;}
#content a[href^="javascript:"]:after,
#content a[href^="#"]:after{content:"";}
#content abbr[title]:after{content:" (" attr(title) ")";}
#content{float:none !important;width:100% !important;margin:0 !important;padding:0 !important;}
body,
#page,
#main,
#content{color:#000;background-color:transparent !important;background-image:none !important;}
#skip-link,
#toolbar,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.breadcrumb,
.tabs,
.action-links,
.links,
.book-navigation,
.forum-topic-navigation,
.pager,
.feed-icons{visibility:hidden;display:none;}
}