.view-partners img{filter:gray;filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter:grayscale(100%);opacity:0.8;transition:all ease 0.5s;}
.view-partners img:hover{filter:none;filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter:grayscale(0%);opacity:1;}
.jcarousel-item .views-field-field-logo{height:100px;display:table;}
.jcarousel-item .views-field-field-logo .field-content{display:table-cell;vertical-align:middle;}
.jcarousel-item .views-field-field-logo .field-content img{}
.view-news,
.view-articles,
.view-products,
.view-reviews,
.view-block-news,
.view-block-articles{font-size:12px;}
.view-block-news .views-row,
.view-block-articles .views-row{position:relative;margin-bottom:1.5em;}
.view-news .views-field-created,
.view-articles .views-field-created{color:#95CA29;font-size:9px;padding:1em 0 0 4em;line-height:1em;}
.view-news .views-field-title a,
.view-articles .views-field-title a,
.view-reviews .views-field-title a{padding-left:35px;}
.view .views-field-title a{color:#32a347;font-weight:bold;text-decoration:none;}
.view-news .views-field-view-node span,
.view-articles .views-field-view-node span,
.view-products .views-field-view-node span{overflow:hidden;display:block;}
.view-products .views-field-field-photo-1,
.view-reviews .views-field-field-scan{float:left;margin-right:10px;}
.view-products .views-row{height:220px;width:50%;float:left;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.view-products .views-row-odd{border-right:1px solid #d9dada;}
.view-products .views-row .views-field-title{min-height:36px;line-height:1.2;font-size:14px;}
.view-reviews .views-row{min-height:235px;}
.view-products .views-field-body p{margin:0;}
.view-news .views-row,
.view-articles .views-row,
.view-products .views-row,
.view-reviews .views-row{position:relative;border-bottom:1px solid #d9dada;}
.view-products .views-field-nothing{position:absolute;bottom:10px;right:10px;}
.view-products .order-button{display:inline-block;padding:2px 10px 4px 10px;color:#fff;border-radius:8px;line-height:1.2em;background:#ffc707;border:3px solid #F9F9F9;}
.view-products .order-button:hover{background:#434242 url(../images/mini-details.png) 90% 45% no-repeat;}
.view-products .views-field-field-price{font-weight:bold;color:red;font-size:14px;}
.view-block-news p, .view-block-articles p{margin:0;}
.view-block-news .views-field-created, .view-block-articles .views-field-created{color:#95ca29;font-size:11px;text-align:right;line-height:1em;}
.view-block-news .views-field-title, .view-block-articles .views-field-title{line-height:1.2;}
.view-block-news .views-field-title a, .view-block-articles .views-field-title a{color:#32a347;padding-left:10px;font-weight:bold;text-decoration:none;font-size:13px;display:block;}
.view-block-news .views-field-body,
.view-block-articles .views-field-body{font-size:11px;line-height:1.2;border-bottom:1px solid #95ca29;padding-bottom:15px;}
.view-block-news .views-field-view-node,
.view-block-articles .views-field-view-node{position:absolute;bottom:-13px;right:0px;}
.view-block-news .views-field-view-node span, .view-block-articles .views-field-view-node span{overflow:hidden;display:block;}
.linkto3d{margin-top:15px;}
.linkto3d, .linkto3d a{color:#32a347;text-align:right;padding-bottom:15px;}
.views-slideshow-pager-fields{float:right;}
.views-slideshow-controls-top{position:relative;right:10px;top:10px;}
.views-slideshow-cycle-main-frame{width:100% !important;}
.views-displays .secondary li{float:none;margin:0 6px 0;}
.views-displays .secondary a:link,
.views-displays .secondary a:visited{text-shadow:none;padding:2px 7px 3px;}
.views-displays .secondary .open > a{-webkit-border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-ms-border-radius:7px 7px 0 0;-o-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0;}
#views_slideshow_controls_text_pause_slides-block{display:none;}
#views_slideshow_controls_text_slides-block{position:relative;bottom:0;}
#views_slideshow_controls_text_previous_slides-block, #views_slideshow_controls_text_next_slides-block{display:block;height:0;width:76px;padding-top:76px;overflow:hidden;position:absolute;z-index:15;}
#views_slideshow_controls_text_previous_slides-block{background-image:url(../images/slide-prev.png);bottom:9em;left:-.5em;}
#views_slideshow_controls_text_next_slides-block{background-image:url(../images/slide-next.png);bottom:9em;right:-.5em;}
.views-displays .secondary .open > a:hover{color:#333;}
.views-displays .secondary .action-list li{margin:0;}
.views-displays .secondary .action-list li:first-child{-webkit-border-radius:0 7px 0 0;-moz-border-radius:0 7px 0 0;-ms-border-radius:0 7px 0 0;-o-border-radius:0 7px 0 0;border-radius:0 7px 0 0;}
.views-displays .secondary .action-list li:last-child{-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;-ms-border-radius:0 0 7px 7px;-o-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px;}
#block-views-product-cat-block .views-row{clear:both;margin-bottom:1em;padding-bottom:1em;border-bottom:1px solid #DBDCD7;}
#block-views-product-cat-block .views-field-field-image{float:left;margin-right:1em;width:475px;text-align:center;}
#block-views-product-cat-block .views-field-name{font-size:200%;font-weight:bold;text-transform:uppercase;color:#32a347;}
#block-views-product-cat-block .views-field-description{font-weight:bold;}
.view-related-products .views-row{width:33%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;padding:10px;text-align:center;}
.view-related-products .views-field-title .field-content{display:inline-block;line-height:1;font-weight:bold;}
.node-product .linkto3d .order-button{display:inline-block;padding:2px 10px;color:#fff;border-radius:15px;line-height:1.2em;background:#ffc707;border:5px solid #F9F9F9;}
.node-product .linkto3d .order-button:hover{background:#434242;}
.views-exposed-widgets{font-size:12px;line-height:1.4;}
#edit-action-wrapper > label{display:none;}
#edit-safes-manufacturer-wrapper{display:none;}
.page-taxonomy-term-82 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-90 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-91 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-92 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-95 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-96 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-97 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-98 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-99 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-100 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-101 #edit-safes-manufacturer-wrapper,
.page-taxonomy-term-102 #edit-safes-manufacturer-wrapper{display:block;}
#edit-cupboard-size-wrapper{display:none;}
.page-taxonomy-term-80 #edit-cupboard-size-wrapper,
.page-taxonomy-term-54 #edit-cupboard-size-wrapper,
.page-taxonomy-term-74 #edit-cupboard-size-wrapper,
.page-taxonomy-term-73 #edit-cupboard-size-wrapper,
.page-taxonomy-term-85 #edit-cupboard-size-wrapper,
.page-taxonomy-term-79 #edit-cupboard-size-wrapper,
.page-taxonomy-term-93 #edit-cupboard-size-wrapper,
.page-taxonomy-term-94 #edit-cupboard-size-wrapper,
.page-taxonomy-term-72 #edit-cupboard-size-wrapper,
.page-taxonomy-term-86 #edit-cupboard-size-wrapper,
.page-taxonomy-term-87 #edit-cupboard-size-wrapper,
.page-taxonomy-term-88 #edit-cupboard-size-wrapper,
.page-taxonomy-term-89 #edit-cupboard-size-wrapper{display:block;}
.view-product-photo .main-photo{float:left;margin-top:-50px;}
.view-product-photo .cboxElement{position:relative;display:block;float:right;}
.view-product-photo .cboxElement:first-child{margin-top:20px;}
.view-product-photo .cboxElement:after{position:absolute;content:"";width:64px;height:64px;margin-top:-32px;margin-left:-32px;top:50%;left:50%;background:url('../images/zoom.png') no-repeat center;z-index:10;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity:0.4;transition:all ease 0.5s;}
.view-product-photo .cboxElement:hover:after{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.8;}
.view-product-photo .view-content > div{padding-top:50px;}
.price-wrapper{padding:12px;color:#18802c;margin-bottom:1em;}
.price-wrapper .rub{font-size:10px;}
.price{font-size:16px;font-weight:600;}