@font-face {
    font-family: 'weblysleek_uilight';
    src: url('weblysleekuil.eot');
    src: url('weblysleekuil.eot?#iefix') format('embedded-opentype'),
         url('weblysleekuil.woff') format('woff'),
         url('weblysleekuil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleek_uilight_italic';
    src: url('weblysleekuili.eot');
    src: url('weblysleekuili.eot?#iefix') format('embedded-opentype'),
         url('weblysleekuili.woff') format('woff'),
         url('weblysleekuili.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleek_uisemibold';
    src: url('weblysleekuisb.eot');
    src: url('weblysleekuisb.eot?#iefix') format('embedded-opentype'),
         url('weblysleekuisb.woff') format('woff'),
         url('weblysleekuisb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleek_uisemibold_italic';
    src: url('weblysleekuisbi.eot');
    src: url('weblysleekuisbi.eot?#iefix') format('embedded-opentype'),
         url('weblysleekuisbi.woff') format('woff'),
         url('weblysleekuisbi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleek_uisemilight';
    src: url('weblysleekuisl.eot');
    src: url('weblysleekuisl.eot?#iefix') format('embedded-opentype'),
         url('weblysleekuisl.woff') format('woff'),
         url('weblysleekuisl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weblysleek_uisemilight_italic';
    src: url('weblysleekuisli.eot');
    src: url('weblysleekuisli.eot?#iefix') format('embedded-opentype'),
         url('weblysleekuisli.woff') format('woff'),
         url('weblysleekuisli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vremena_groteskregular';
    src: url('vremenagrotesk.eot');
    src: url('vremenagrotesk.eot?#iefix') format('embedded-opentype'),
         url('vremenagrotesk.woff') format('woff'),
         url('vremenagrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vremena_groteskbold';
    src: url('vremenagroteskbold.eot');
    src: url('vremenagroteskbold.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbold.woff') format('woff'),
         url('vremenagroteskbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vremena_groteskbold_italic';
    src: url('vremenagroteskbolditalic.eot');
    src: url('vremenagroteskbolditalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbolditalic.woff') format('woff'),
         url('vremenagroteskbolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vremena_groteskbook';
    src: url('vremenagroteskbook.eot');
    src: url('vremenagroteskbook.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbook.woff') format('woff'),
         url('vremenagroteskbook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vremena_groteskbook_italic';
    src: url('vremenagroteskbookitalic.eot');
    src: url('vremenagroteskbookitalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskbookitalic.woff') format('woff'),
         url('vremenagroteskbookitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vremena_groteskitalic';
    src: url('vremenagroteskitalic.eot');
    src: url('vremenagroteskitalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskitalic.woff') format('woff'),
         url('vremenagroteskitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vremena_groteskmedium';
    src: url('vremenagroteskmedium.eot');
    src: url('vremenagroteskmedium.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskmedium.woff') format('woff'),
         url('vremenagroteskmedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vremena_groteskmedium_italic';
    src: url('vremenagroteskmediumitalic.eot');
    src: url('vremenagroteskmediumitalic.eot?#iefix') format('embedded-opentype'),
         url('vremenagroteskmediumitalic.woff') format('woff'),
         url('vremenagroteskmediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}